{% extends 'base.html' %}

{% block head_title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="w-full flex mt-5 justify-center">
    <div class="bg-white w-5/12 rounded-lg">
      {% if title == 'Request For Loan' %}
        <div class="pt-6 px-5">
          <a href="{% url 'loan_list' %}" class="font-bold text-blue-900 text-center">View All Loan List</a>
        </div>
      {% endif %}

      <h1 class="font-bold text-3xl text-center pb-5 pt-10 px-5">{{ title }}</h1>

      <form method="post" class="px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}

        <div class="mb-4">
          <label for="amount" class="block text-gray-700 text-sm font-bold mb-2">Amount</label>

          <input type="number" name="amount" id="amount" required placeholder="Amount" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-gray-500 focus:outline-none focus:shadow-outline" />
        </div>

        {% if form.amount.errors %}
          {% for error in form.amount.errors %}
            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %}
        {% endif %}

        <div class="flex w-full justify-center">
          <button type="submit" class="bg-blue-900 text-white hover:text-blue-900 hover:bg-white border border-blue-900 font-bold px-4 py-2 rounded-lg">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
